@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('github-syntax-dark/lib/github-dark.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply bg-sky-600 px-2 mt-2 font-semibold rounded-xl text-zinc-800 overflow-x-auto;
  }
  .label-selected {
    @apply bg-sky-800 px-2 mt-2 font-semibold rounded-xl text-neutral-800;
  }
  .layout {
    @apply w-screen h-screen overflow-auto flex flex-col items-center bg-[#171717] text-[#f5f5f5] font-poppins;
  }
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
